body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:109px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:30px;
  top:345px;
  width:1004px;
  height:109px;
}
#u797 {
  position:absolute;
  left:2px;
  top:46px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  position:absolute;
  left:0px;
  top:1974px;
  width:1300px;
  height:46px;
}
#u799 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  position:absolute;
  left:87px;
  top:1989px;
  width:497px;
  height:16px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:66px;
  top:2051px;
  width:952px;
  height:16px;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  white-space:nowrap;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:2px;
}
#u804 {
  position:absolute;
  left:0px;
  top:2117px;
  width:1300px;
  height:1px;
}
#u805 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  position:absolute;
  left:1116px;
  top:235px;
  width:251px;
  height:608px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u819 {
  position:absolute;
  left:1095px;
  top:266px;
  width:220px;
  height:1px;
}
#u820 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u821 {
  position:absolute;
  left:1095px;
  top:314px;
  width:220px;
  height:1px;
}
#u822 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u823 {
  position:absolute;
  left:1095px;
  top:362px;
  width:220px;
  height:1px;
}
#u824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u825 {
  position:absolute;
  left:1095px;
  top:410px;
  width:220px;
  height:1px;
}
#u826 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u827 {
  position:absolute;
  left:1095px;
  top:508px;
  width:220px;
  height:1px;
}
#u828 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u829 {
  position:absolute;
  left:1092px;
  top:598px;
  width:220px;
  height:1px;
}
#u830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u831 {
  position:absolute;
  left:1077px;
  top:874px;
  width:220px;
  height:1px;
}
#u832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u833 {
  position:absolute;
  left:1095px;
  top:457px;
  width:220px;
  height:1px;
}
#u834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u835 {
  position:absolute;
  left:1077px;
  top:843px;
  width:220px;
  height:1px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u837 {
  position:absolute;
  left:1077px;
  top:791px;
  width:220px;
  height:1px;
}
#u838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u839 {
  position:absolute;
  left:1116px;
  top:185px;
  width:118px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:1116px;
  top:561px;
  width:182px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u843 {
  position:absolute;
  left:1116px;
  top:746px;
  width:225px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:17px;
  top:170px;
  width:114px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:30px;
  top:227px;
  width:78px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:30px;
  top:266px;
  width:988px;
  height:57px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u851 {
  position:absolute;
  left:30px;
  top:383px;
  width:988px;
  height:57px;
  text-align:right;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:104px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u853 {
  position:absolute;
  left:30px;
  top:582px;
  width:1004px;
  height:104px;
}
#u854 {
  position:absolute;
  left:2px;
  top:44px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u855 {
  position:absolute;
  left:30px;
  top:464px;
  width:78px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  position:absolute;
  left:30px;
  top:503px;
  width:988px;
  height:57px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u859 {
  position:absolute;
  left:30px;
  top:621px;
  width:988px;
  height:57px;
  text-align:right;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:30px;
  top:711px;
  width:1004px;
  height:170px;
}
#u862 {
  position:absolute;
  left:2px;
  top:77px;
  width:1000px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:44px;
  top:727px;
  width:177px;
  height:16px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:73px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  position:absolute;
  left:30px;
  top:898px;
  width:183px;
  height:40px;
}
#u866 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:66px;
  top:17px;
  width:180px;
  height:37px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u870 {
  position:absolute;
  left:17px;
  top:16px;
  width:39px;
  height:39px;
}
#u871 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:273px;
  top:18px;
  width:323px;
  height:34px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:34px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:527px;
  top:18px;
  width:140px;
  height:34px;
}
#u874 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:0px;
  top:70px;
  width:1300px;
  height:46px;
}
#u876 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:1124px;
  top:21px;
  width:168px;
  height:32px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u880 {
  position:absolute;
  left:1080px;
  top:20px;
  width:34px;
  height:34px;
}
#u881 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u882 {
  position:absolute;
  left:690px;
  top:18px;
  width:188px;
  height:34px;
  color:#0000FF;
}
#u883 {
  position:absolute;
  left:2px;
  top:9px;
  width:184px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:897px;
  top:17px;
  width:173px;
  height:34px;
}
#u886 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:42px;
  top:85px;
  width:1222px;
  height:16px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  white-space:nowrap;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u891 {
  position:absolute;
  left:169px;
  top:592px;
  width:26px;
  height:22px;
}
#u892 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  position:absolute;
  left:126px;
  top:231px;
  width:113px;
  height:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:44px;
  top:358px;
  width:113px;
  height:16px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:117px;
  top:468px;
  width:113px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:46px;
  top:595px;
  width:113px;
  height:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:1346px;
  top:185px;
  width:300px;
  height:48px;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
