body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u580 {
  position:absolute;
  left:475px;
  top:158px;
  width:476px;
  height:157px;
}
#u581 {
  position:absolute;
  left:2px;
  top:70px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u582 {
  position:absolute;
  left:17px;
  top:200px;
  width:121px;
  height:61px;
}
#u583 {
  position:absolute;
  left:2px;
  top:22px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  position:absolute;
  left:0px;
  top:1974px;
  width:1300px;
  height:46px;
}
#u585 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  position:absolute;
  left:87px;
  top:1989px;
  width:497px;
  height:16px;
}
#u587 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  position:absolute;
  left:66px;
  top:2051px;
  width:952px;
  height:16px;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  white-space:nowrap;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:2px;
}
#u590 {
  position:absolute;
  left:0px;
  top:2117px;
  width:1300px;
  height:1px;
}
#u591 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u593 {
  position:absolute;
  left:1116px;
  top:235px;
  width:251px;
  height:608px;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u605 {
  position:absolute;
  left:1095px;
  top:266px;
  width:220px;
  height:1px;
}
#u606 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u607 {
  position:absolute;
  left:1095px;
  top:314px;
  width:220px;
  height:1px;
}
#u608 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u609 {
  position:absolute;
  left:1095px;
  top:362px;
  width:220px;
  height:1px;
}
#u610 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u611 {
  position:absolute;
  left:1095px;
  top:410px;
  width:220px;
  height:1px;
}
#u612 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u613 {
  position:absolute;
  left:1095px;
  top:508px;
  width:220px;
  height:1px;
}
#u614 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u615 {
  position:absolute;
  left:1092px;
  top:598px;
  width:220px;
  height:1px;
}
#u616 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u617 {
  position:absolute;
  left:1077px;
  top:874px;
  width:220px;
  height:1px;
}
#u618 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u619 {
  position:absolute;
  left:1095px;
  top:457px;
  width:220px;
  height:1px;
}
#u620 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u621 {
  position:absolute;
  left:1077px;
  top:843px;
  width:220px;
  height:1px;
}
#u622 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u623 {
  position:absolute;
  left:1077px;
  top:791px;
  width:220px;
  height:1px;
}
#u624 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u625 {
  position:absolute;
  left:1116px;
  top:185px;
  width:118px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u626 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u627 {
  position:absolute;
  left:1116px;
  top:561px;
  width:182px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u629 {
  position:absolute;
  left:1116px;
  top:746px;
  width:225px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u631 {
  position:absolute;
  left:17px;
  top:348px;
  width:114px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u632 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u633 {
  position:absolute;
  left:17px;
  top:399px;
  width:942px;
  height:135px;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:39px;
}
#u635 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:39px;
}
#u636 {
  position:absolute;
  left:190px;
  top:0px;
  width:186px;
  height:39px;
}
#u637 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:39px;
}
#u638 {
  position:absolute;
  left:376px;
  top:0px;
  width:561px;
  height:39px;
}
#u639 {
  position:absolute;
  left:2px;
  top:12px;
  width:557px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:43px;
}
#u640 {
  position:absolute;
  left:0px;
  top:39px;
  width:190px;
  height:43px;
}
#u641 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:43px;
}
#u642 {
  position:absolute;
  left:190px;
  top:39px;
  width:186px;
  height:43px;
}
#u643 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:43px;
}
#u644 {
  position:absolute;
  left:376px;
  top:39px;
  width:561px;
  height:43px;
}
#u645 {
  position:absolute;
  left:2px;
  top:14px;
  width:557px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
}
#u646 {
  position:absolute;
  left:0px;
  top:82px;
  width:190px;
  height:48px;
}
#u647 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:48px;
}
#u648 {
  position:absolute;
  left:190px;
  top:82px;
  width:186px;
  height:48px;
}
#u649 {
  position:absolute;
  left:2px;
  top:16px;
  width:182px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:48px;
}
#u650 {
  position:absolute;
  left:376px;
  top:82px;
  width:561px;
  height:48px;
}
#u651 {
  position:absolute;
  left:2px;
  top:16px;
  width:557px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:46px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:496px;
  top:260px;
  width:229px;
  height:38px;
}
#u653 {
  position:absolute;
  left:2px;
  top:11px;
  width:225px;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:17px;
  top:158px;
  width:87px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:1px;
}
#u656 {
  position:absolute;
  left:54px;
  top:217px;
  width:40px;
  height:1px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u658 {
  position:absolute;
  left:21px;
  top:267px;
  width:266px;
  height:13px;
  font-size:10px;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u661 {
  position:absolute;
  left:66px;
  top:17px;
  width:180px;
  height:37px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u663 {
  position:absolute;
  left:17px;
  top:16px;
  width:39px;
  height:39px;
}
#u664 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665 {
  position:absolute;
  left:273px;
  top:18px;
  width:323px;
  height:34px;
}
#u665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:34px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:527px;
  top:18px;
  width:140px;
  height:34px;
}
#u667 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:0px;
  top:70px;
  width:1300px;
  height:46px;
}
#u669 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:1124px;
  top:21px;
  width:168px;
  height:32px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u673 {
  position:absolute;
  left:1080px;
  top:20px;
  width:34px;
  height:34px;
}
#u674 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u675 {
  position:absolute;
  left:690px;
  top:18px;
  width:188px;
  height:34px;
  color:#0000FF;
}
#u676 {
  position:absolute;
  left:2px;
  top:9px;
  width:184px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:897px;
  top:17px;
  width:173px;
  height:34px;
}
#u679 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:42px;
  top:85px;
  width:1222px;
  height:16px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:496px;
  top:175px;
  width:429px;
  height:45px;
}
#u685 {
  position:absolute;
  left:2px;
  top:14px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  position:absolute;
  left:496px;
  top:230px;
  width:192px;
  height:16px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  position:absolute;
  left:1389px;
  top:152px;
  width:300px;
  height:80px;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
