body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1866 {
  position:absolute;
  left:0px;
  top:1974px;
  width:1300px;
  height:46px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:87px;
  top:1989px;
  width:497px;
  height:16px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  white-space:nowrap;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:66px;
  top:2051px;
  width:952px;
  height:16px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  white-space:nowrap;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1301px;
  height:2px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:2117px;
  width:1300px;
  height:1px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874 {
  position:absolute;
  left:17px;
  top:291px;
  width:699px;
  height:169px;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:38px;
}
#u1877 {
  position:absolute;
  left:91px;
  top:0px;
  width:603px;
  height:38px;
  text-align:left;
}
#u1878 {
  position:absolute;
  left:2px;
  top:11px;
  width:599px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:38px;
  width:91px;
  height:36px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:36px;
}
#u1881 {
  position:absolute;
  left:91px;
  top:38px;
  width:603px;
  height:36px;
  color:#0000FF;
  text-align:left;
}
#u1882 {
  position:absolute;
  left:2px;
  top:10px;
  width:599px;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1884 {
  position:absolute;
  left:0px;
  top:74px;
  width:91px;
  height:30px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:30px;
}
#u1886 {
  position:absolute;
  left:91px;
  top:74px;
  width:603px;
  height:30px;
  text-align:left;
}
#u1887 {
  position:absolute;
  left:2px;
  top:7px;
  width:599px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:104px;
  width:91px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:30px;
}
#u1890 {
  position:absolute;
  left:91px;
  top:104px;
  width:603px;
  height:30px;
  text-align:left;
}
#u1891 {
  position:absolute;
  left:2px;
  top:7px;
  width:599px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:0px;
  top:134px;
  width:91px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:91px;
  top:134px;
  width:603px;
  height:30px;
  text-align:left;
}
#u1895 {
  position:absolute;
  left:2px;
  top:7px;
  width:599px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:1116px;
  top:235px;
  width:251px;
  height:608px;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1909 {
  position:absolute;
  left:1095px;
  top:266px;
  width:220px;
  height:1px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1911 {
  position:absolute;
  left:1095px;
  top:314px;
  width:220px;
  height:1px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1913 {
  position:absolute;
  left:1095px;
  top:362px;
  width:220px;
  height:1px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1915 {
  position:absolute;
  left:1095px;
  top:410px;
  width:220px;
  height:1px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1917 {
  position:absolute;
  left:1095px;
  top:508px;
  width:220px;
  height:1px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1919 {
  position:absolute;
  left:1092px;
  top:598px;
  width:220px;
  height:1px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1921 {
  position:absolute;
  left:1077px;
  top:874px;
  width:220px;
  height:1px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1923 {
  position:absolute;
  left:1095px;
  top:457px;
  width:220px;
  height:1px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1925 {
  position:absolute;
  left:1077px;
  top:843px;
  width:220px;
  height:1px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:1077px;
  top:791px;
  width:220px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1929 {
  position:absolute;
  left:1116px;
  top:185px;
  width:118px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:1116px;
  top:561px;
  width:182px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1933 {
  position:absolute;
  left:1116px;
  top:746px;
  width:225px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:17px;
  top:170px;
  width:399px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:66px;
  top:17px;
  width:180px;
  height:37px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u1940 {
  position:absolute;
  left:17px;
  top:16px;
  width:39px;
  height:39px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942 {
  position:absolute;
  left:273px;
  top:18px;
  width:323px;
  height:34px;
}
#u1942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:34px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  position:absolute;
  left:527px;
  top:18px;
  width:140px;
  height:34px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:46px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945 {
  position:absolute;
  left:0px;
  top:70px;
  width:1300px;
  height:46px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:15px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:1124px;
  top:21px;
  width:168px;
  height:32px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1950 {
  position:absolute;
  left:1080px;
  top:20px;
  width:34px;
  height:34px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1952 {
  position:absolute;
  left:690px;
  top:18px;
  width:188px;
  height:34px;
  color:#0000FF;
}
#u1953 {
  position:absolute;
  left:2px;
  top:9px;
  width:184px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:897px;
  top:17px;
  width:173px;
  height:34px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:42px;
  top:85px;
  width:1222px;
  height:16px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:1222px;
  white-space:nowrap;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  position:absolute;
  left:1363px;
  top:221px;
  width:300px;
  height:64px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:17px;
  top:231px;
  width:357px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  white-space:nowrap;
}
#u1965 {
  position:absolute;
  left:17px;
  top:569px;
  width:700px;
  height:169px;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:38px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:11px;
  width:87px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u1968 {
  position:absolute;
  left:91px;
  top:0px;
  width:111px;
  height:38px;
  text-align:left;
}
#u1969 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
}
#u1970 {
  position:absolute;
  left:202px;
  top:0px;
  width:146px;
  height:38px;
  text-align:left;
}
#u1971 {
  position:absolute;
  left:2px;
  top:11px;
  width:142px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:38px;
}
#u1972 {
  position:absolute;
  left:348px;
  top:0px;
  width:347px;
  height:38px;
  text-align:left;
}
#u1973 {
  position:absolute;
  left:2px;
  top:11px;
  width:343px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:38px;
  width:91px;
  height:36px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u1976 {
  position:absolute;
  left:91px;
  top:38px;
  width:111px;
  height:36px;
  text-align:left;
}
#u1977 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:36px;
}
#u1978 {
  position:absolute;
  left:202px;
  top:38px;
  width:146px;
  height:36px;
  text-align:left;
}
#u1979 {
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:36px;
}
#u1980 {
  position:absolute;
  left:348px;
  top:38px;
  width:347px;
  height:36px;
  text-align:left;
}
#u1981 {
  position:absolute;
  left:2px;
  top:10px;
  width:343px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:74px;
  width:91px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:91px;
  top:74px;
  width:111px;
  height:30px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:202px;
  top:74px;
  width:146px;
  height:30px;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:348px;
  top:74px;
  width:347px;
  height:30px;
  text-align:left;
}
#u1989 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:104px;
  width:91px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:91px;
  top:104px;
  width:111px;
  height:30px;
  text-align:left;
}
#u1993 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:202px;
  top:104px;
  width:146px;
  height:30px;
  text-align:left;
}
#u1995 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:348px;
  top:104px;
  width:347px;
  height:30px;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:134px;
  width:91px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:91px;
  top:134px;
  width:111px;
  height:30px;
  text-align:left;
}
#u2001 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:202px;
  top:134px;
  width:146px;
  height:30px;
  text-align:left;
}
#u2003 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:348px;
  top:134px;
  width:347px;
  height:30px;
  text-align:left;
}
#u2005 {
  position:absolute;
  left:2px;
  top:7px;
  width:343px;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2006 {
  position:absolute;
  left:17px;
  top:509px;
  width:208px;
  height:28px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
