html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.select_file, .select_file span {
    color: #fff;
    padding: 0 5px;
    display: block;
}

.form-group .inputfile { text-align: center; margin: 0 auto; display: block; }

.field-review-img_main .help-block,
.field-uploadsubimageform-reviewsubimage
{ text-align: center; }
.add_row_text div, .add_row_text span { color: #fff; display: block; }
.field-uploadsubimageform-reviewsubimage .previous-file {
    display: none!important;
}
.product_content { margin-bottom: 40px; }
.product_content>div {position:relative;    padding-right: 20px; }
.product_content>div.img { padding: 5px 25px 5px 5px; }
.product_content>div.text { text-indent: 20px; }

.product_content>div:hover { background: #eee; }
.product_content>div>.remove {opacity:0.5; ;content: "\e014"; position: absolute; height: 20px; width: 20px; font-family: 'Glyphicons Halflings'; color: #000; position:absolute;right:0;top:0;}
.product_content>div>.remove:hover {color:red;cursor:pointer;}
.product_content>div:hover>.remove {opacity:1}
.product_content>div.img>.remove { right: -20px; }
.product_content>div>.remove:after { content: "\e014"; margin-left:-20px; width:20px; text-align: center; }
.field-review-img_main .inputfile .previous-file { display: none; }

.rank.hover_select {text-align:center ;}
.rank.hover_select > i {
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;}
.rank.hover_select > i:hover {cursor:pointer;}
.rank.hover_select>.hover, .rank.hover_select>.active { color: #337ab7; }
.rank.hover_select.active .active {text-shadow: 1px 1px #00335e;}

.fullbuttons button, .fullbuttons .inputfile .upload-button { display: block; width: 100%; margin-top: 26px; }
.product_content img { max-width: 100%; }

[data-toggle="modal"] {cursor:pointer}
.review__add__like {
    cursor: pointer;}
.modal-header .close { position: absolute; right: 10px; top: 5px; padding: 10px; }
.modal-header .close span {font-size: 30px;}
h5.modal-title { font-size: 30px; line-height: 1; }

input#review-img_main {max-width:100%}

.search_product_results {z-index:2; position: absolute; background: #fff; width: 100%; border: 1px solid #ccc; margin-top: -3px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.search_product_results>div { padding: 2px 10px; border-bottom: 1px solid #ccc; cursor:pointer;}
.search_product_results>div:nth-last-child(1) {border-bottom:0px;}
.search_product_results>div img { max-width: 30px; max-height: 30px; padding: 2px; }
.search_product_results .category span { font-size: 12px; color: #666; }
.search_product_results .category span:after { content: ' > ';color:#ccc; }
.search_product_results .category span:nth-last-child(1):after {content: '';}
.search_result {max-width:60%; width:350px; border: 1px solid #ccc; border-radius: 5px; margin-top: 2px;  padding: 15px;  position: absolute; background: #fff; z-index: 3; }
.search_result a {font-size:14px;margin: 4px 0 10px;}
.search_result img { max-width:100%;max-height:50px;margin:0 auto; display:block;}
.search_result .bread span{color:#999;font-size:14px;}

.search_result .bread span:after {content:' > ';}
.search_result .bread span:nth-last-child(1):after {content:'';}
