.rsecs{
	background-position:top center;
	width:240px; margin-right:24px; padding:100px 0px 10px 0px;
	background-color:#ffffff; background-repeat:no-repeat; 
	border:1px solid #ffffff; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
	-moz-box-shadow:2px 2px 8px rgba(0,0,0,0.4); -webkit-box-shadow:2px 2px 8px rgba(0,0,0,0.4); box-shadow:2px 2px 8px rgba(0,0,0,0.4);
}
.rseclinks a{display:block; padding:4px 15px 4px 15px;}
.rseclinks a:hover{text-decoration:none; font-weight:bold; color:#ffffff; text-shadow:1px 1px 1px #2E2E2E;
	background: -webkit-gradient(linear, center top, center bottom, from(#b9b9b9), to(#949494));
	background-image: linear-gradient(#b9b9b9, #949494);
}
.rseclinks span{font-size:20px;}

.rsactive{font-weight:bold;}

#subsections a{color:#0057A3;}
#subsections a:hover{color:#CC6D00; text-decoration:none;}
#subsections .shead, #subsections .shead a { font-weight: bold; font-size: 18px; font-family: "Arial Narrow"; }
#subsections .rtlink{margin-left:18px;}
.sbody{padding:5px 0px 20px 55px!important;}
.sbody a{display:block;}
.sbody a:hover{}
.levl2{margin-top:15px;}
.levl3{padding-left:30px;}

.movedsec{background:url('images/moved.jpg'); width:16px; height:16px; display:inline-block;}

.ignored_admin_note{margin:0px 0px 10px 0px; color:#ff0000;}

table.TecDocSubCat { width: 95%; margin: 0 auto; }

div#subsections>div { width: 96%; display: inline-block; float: right; margin-right: 3.5%; }
.subCategoryBlock .sbody>div { width: 45%; display: inline-block; vertical-align: top; margin-bottom: 5px; margin-right: 4%; }
#subsections a { font-size: 16px; font-family: "Arial Narrow"; }
div#subsections>div.subCategoryBlock.full { width: 100%; margin: 0; }
div#subsections>div.subCategoryBlock.full .shortPath { width: 32%; display: inline-block; }
.subtitle { font-weight: 800; font-size: 16px; font-family: "Arial Narrow"; }
.subtitle:after { content:":"; }

@media (max-width: 899px) {
	table.TecDocSubCat td { width: 100%; display: block; }
	.rsecs { width: 100%; min-width: 100%; }
	.rseclinks a { display: inline-block; width: 32%; }
	.rseclinks a:hover {font-weight:normal;  vertical-align: top;}
}